#rotator{
	overflow: hidden;
	position: relative;
}
#rotator .nav {
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
#rotator .nav.next {
	left: 50px;
}
#rotator .nav.prev {
	display: none;
}
#gallery-container {
	white-space: nowrap;
	position: relative;
	z-index: 0;
}
#gallery-container .gallery-block {
	display: inline-block;
	margin-right: -4px;
	width: 600px;
	height: 600px;
}
#gallery-container .gallery-block img {
	height: inherit;
	width: inherit;
}
