{% extends "gallery/application.html" %}

{% block content %}
	{% if gallery_list %}
	    <div id="rotator">
	    	<div class="next nav">NEXT</div>
	    	<div class="prev nav">PREV</div>
	    	<div id="gallery-container">
		    {% for gallery in gallery_list %}
		    	<a class="gallery-block" href="{% url 'gallery:gallery' gallery.id %}">
		    		<h1>{{ gallery.title }}</h1>
		    		<img src='{{ STATIC_URL|add:gallery.cover_photo.photo.url }}'></img>
		    	</a>
	    	{% endfor %}
	    	</div>
	    </div>
	{% else %}
	    <p>No Galleries are available.</p>
	{% endif %}
{% endblock %}